fastapi
uvicorn[standard]
python-multipart
python-dotenv
bcrypt
pyjwt
email-validator
psycopg2-binary
asyncpg
langchain-aws
langchain-postgres
langchain-text-splitters
langchain
llama-index-llms-langchain
pymupdf
reportlab
boto3
langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]
